<!-- <center> -->
<table cellpadding="0" cellspacing="0" class="center" width="85%">
  <thead>
    <tr id="header">
      <th>Comments</th>
      <th>Vote Count</th>
      <th>Upvote</th>
      <th>News Details</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let n of newsData">
      <td class="pad-left-10 width-5">{{n.comments}}</td>
      <td class="width-5">{{n.votes}}</td>
      <td class="width-5">
        <div class="votearrow" title="upvote" (click)="upvote(n.id)"></div>
      </td>
      <td class="width-85">{{n.details}}
        <span class="font-75 color-gray">({{n.url}}) by </span>
        <span class="font-75">{{n.author}} </span>
        <span class="font-75 color-gray">{{n.created}} </span>
        <span class="font-75" (click)="hideElement(n.id)"> [ hide ]</span>
      </td>
    </tr>
  </tbody>
</table>
<div id="prevNext">
  <span *ngIf="page!==0" (click)="page=page-1;getData()">
    Previous |</span>
  <span (click)="page=page+1;getData()"> Next
  </span>
</div>
<div class="center">
  <hr class="hr-line">
</div>

<app-graph *ngIf="newsData.length>0" [newsData]="newsData"></app-graph>

<div class="center">
  <hr class="hr-line">
</div>