#header{
    background-color: coral;
    color:white;
    text-align: left;
    font-size: 0.8em;
}

.width-5{
    width: 5%;
}

.width-85{
    width: 85%;
}

.hr-line{
    border: 3px solid coral; clear: both;
    width: 85%;
}

.votearrow{
    width:      10px;
    height:     10px;
    border:     0px;
    margin:     3px 2px 6px;
    background: url("https://news.ycombinator.com/grayarrow.gif")
    no-repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }



tbody tr:nth-child(odd){
    background-color: rgb(221, 220, 220);
}
.pad-left-10{
    padding-left: 10px;
}

.font-75{
    font-size: .75em;
}

.color-gray{
    color: gray;
}
#prevNext{
    float: right;
    margin-right: 8%;
    color: coral;
}